logging:
  level:
    root: INFO

spring:
  main:
    banner-mode: off

mockDcs: false

atp:
  ipv:
    signing:
      key: ${IPV_ATP_DCS_IPV_SIGN_KEY}
      cert: ${IPV_ATP_DCS_IPV_SIGN_CERT}

dcs:
  base-url: ${IPV_ATP_DCS_BASE_URL:http://localhost:8080}
  tls:
    client:
      key: ${IPV_ATP_DCS_CLIENT_TLS_KEY}
      cert: ${IPV_ATP_DCS_CLIENT_TLS_CERT}
    server:
      cert: ${IPV_ATP_DCS_SERVER_TLS_CERT}
  client:
    signing:
      key: ${IPV_ATP_DCS_CLIENT_SIGN_KEY}
      cert: ${IPV_ATP_DCS_CLIENT_SIGN_CERT}
    encryption:
      key: ${IPV_ATP_DCS_CLIENT_ENC_KEY}
    mock:
      encryption:
        cert: ${IPV_ATP_DCS_CLIENT_ENC_CERT}
  server:
    mock:
      signing:
        key: ${IPV_ATP_DCS_SERVER_SIGN_KEY}
      encryption:
        key: ${IPV_ATP_DCS_SERVER_ENC_KEY}
    signing:
      cert: ${IPV_ATP_DCS_SERVER_SIGN_CERT}
    encryption:
      cert: ${IPV_ATP_DCS_SERVER_ENC_CERT}